<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmoon</title>
    <link rel="icon" href="img/icon-pig.png">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header id="aux">
        
    </header>
    <main>
        <canvas></canvas>
    </main>
    <footer>

    </footer>

    <script src="/socket.io/socket.io.js"></script>
    <script> 
        const socket = io();
    </script>
    <script src="js/header.js"></script>
</body>
</html>